table{
  width: 500px;
  margin: 30px auto;
}

tr , th{
  padding: 10px 0;
  background-color:moccasin;
  text-align: left;
  border: thin solid;
}
.searchinput:hover{
  opacity: 0.6;
  
}

.submit{
  background-color: blanchedalmond;
}

h1{
  font-display: auto;
}





